<!DOCTYPE HTML>
<html ng-app="paprikaApp">
<head>
    <title>Paprika</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="res/tachyons.min.css" />
    <style>
        .translate-center { transform: translate(-50%, -50%); }
        .t-50 { top: 50%; }
        .l-50 { left: 50%; }
        .bg-rainbow {
            background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
            background-size: 1800% 1800%;
            animation: rainbow 9s linear infinite;
        }
        @keyframes rainbow {
            0% { background-position: 0% 82% }
            50% { background-position: 100% 19% }
            100% { background-position: 0% 82% }
        }
        .max-height {
            max-height: 12rem;
        }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body class="w-100 sans-serif" ng-controller="MainController">
    <header class="w-100 pa3 ph3-ns bg-white">
        <div class="db dt-ns mw9 center w-100">
            <div class="db dtc-ns v-mid tl">
                <img class="w3 h3" src="res/touch-icon.png" alt="Paprika logo" />
            </div>
            <div class="db dtc-ns v-mid tl">
                <a href="/" class="dib f5 f4-ns fw6 mt0 mb1 link black-70" title="Home">
                    Paprika
                </a>
                <button type="button" ng-click="startTutorial()" ng-show="!tutorialOpen"
                        class="dib ml1 pa1 ph3 h2 w4
                            b--black-80 black-80 bg-rainbow bw1 ba
                            b pointer">
                    Tutorial!
                </button>
            </div>
            <div class="db dtc-ns v-mid tl tr-ns mt2 mt0-ns">
                <!--<a title="Documentation" href="/docs/"
                   class="f6 fw6 hover-blue link black-70 mr2 mr3-ns dib">
                    Docs
                </a>
                <a title="" href=""
                   class="f6 fw6 hover-blue link black-70 mr2 mr3-ns dib">
                    Link
                </a>-->

                <span class="f6 ttu black-70 mr1 dib">
                    Credentials:
                </span>

                <span>
                    <input ng-model="username" type="text" placeholder="username" class="js-username
                           pa1 ph2 h2
                       b--black-60 black-80 bg-white bw1 ba"/>

                    <input ng-model="password" type="password" placeholder="password" class="js-password
                           pa1 ph2 h2
                       b--black-60 black-80 bg-white bw1 ba"/>

                    <button type="button" ng-click="getGrammar()"
                            class="dib mv1 pa1 ph3 h2 w4
                            b--black-80 black-80 bg-white bw1 ba
                            b pointer">
                        Login
                    </button>

                    <button type="button" ng-show="isAnon" ng-click="openDialog()"
                            class="js-upgrade-anon
                            dib mv1 pa1 ph3 h2
                            b--black-80 black-80 bg-white bw1 ba
                            b pointer">
                        Make into real account
                    </button>
                </span>
            </div>
        </div>
    </header>

    <main class="w-100 bt b--black-10 bg-white">
        <div class="ph1 ph3-ns">

            <div class="w-100">

                <p><label for="query" class="f6 ttu">Paprika Query:</label></p>
                <form>
                    <input name="query" id="query" type="text" ng-model="query" class="js-query
                       h2 w-90 ph1
                       b--black-60 black-80 bg-white bw1 ba">

                    <button type="submit" ng-click="doQuery()"
                            class="
                            h2
                            b--black-80 black-80 bg-white bw1 ba
                            b pointer">
                        Send
                    </button>
                </form>
            </div>
            
            <div class="w-100 w-40-ns fr-ns b--black-10 bl-ns pl2-ns">
                <p class="f6 ttu">
                    Results
                    (<span ng-click="clearResults()" class="f6 underline pointer ttu">Clear</span>):
                    <span ng-show="isLoading" ng-bind="loadingText" class="js-loading bg-gray white pa1 br1">
                        Loading...
                    </span>
                    
                </p>
                <ul class="lh-copy overflow-y-scroll max-height">
                    <li ng-repeat="report in reports | orderBy:'':true" ng-class="{'b' : report.answer}">
                        <span ng-show="(!report.answer)"
                              ng-class="['pa1', 'br1', {'bg-green' : report.success, 'bg-red': (!report.success)}]"
                              ng-bind="report.status"></span>
                        <code ng-show="(!report.answer)" ng-bind="report.response"></code>
                        <span ng-show="report.answer"
                              ng-bind="report.answer"></span>
                    </li>
                </ul>

                <div ng-show="tutorialOpen">
                    <p class="f6 ttu">
                        Tutorial
                    </p>

                    <p>
                        <span ng-repeat="tutorial in tutorials">
                            <span ng-bind="progressIcon($index)"></span>
                        </span>
                    </p>

                    <p class="f5 b" ng-bind="tutorials[tutorialStep].title"></p>

                    <p><small>Click:</small> <code class="pointer pa1 lh-copy bg-blue white br2" ng-click="useExample()" ng-bind="tutorials[tutorialStep].input"></code></p>
                    <p><small>Example output: "<span ng-bind="tutorials[tutorialStep].produces"></span>"</small></p>
                    <p ng-show="tutorials[tutorialStep].notes"><small ng-bind="tutorials[tutorialStep].notes"></small></p>

                    <button type="button" ng-enabled="tutorialStep > 0" ng-click="prevStep()"
                            class="dib mv1 pa1 ph3 h2 w4
                            b--black-80 black-80 bg-white bw1 ba
                            b pointer">
                        Prev
                    </button>
                    <button type="button" ng-enabled="tutorialStep < tutorials.length" ng-click="nextStep()"
                            class="dib mv1 pa1 ph3 h2 w4
                            b--black-80 black-80 bg-white bw1 ba
                            b pointer">
                        Next
                    </button>
                </div>

            </div>

            <div class="w-100 w-50-ns fl-ns">
                <p class="f6 ttu">Your Grammar:</p>
                <textarea
                          ng-model="grammarText"
                          class="js-grammar-text
                          w-100 h5 pa2
                          b--black-60 black-80 bg-white bw1 ba mw-100"></textarea>
                <div>
                    <button type="button" ng-click="uploadText()"
                            class="mv1 pa1 ph3 w-100
                            b--black-80 black-80 bg-white bw1 ba
                            b pointer">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </main>

    <div class="js-overlay
	    z-0
	    bg-gray o-50
	    fixed absolute--fill
	    t-0 l-0"
        ng-show="showModal"
        ng-click="closeDialog()"
        ng-cloak>
    </div>

    <div class="js-modal
		z-1
		b--black-80 black-80 bg-white bw1 ba
		fixed t-50 l-50 translate-center w-90 w-50-ns
		ma2 pa1 ph3"
        ng-show="showModal"
        ng-cloak>

        <span class="fr f3 pointer" ng-click="closeDialog()">&times;</span>

        <div class="center pv2">
            <form>
                <fieldset class="ba b--transparent ph0 mh0">
                    <legend class="f4 fw6">Sign Up</legend>
                    <p class="">This will transform your temporary <span class="js-user-placeholder">User</span> account into a permanent account, saving all of your grammar changes. It's completely free!</p>
                    <div class="mt3">
                        <label class="db fw6 lh-copy f6" for="email-address">Email</label>
                        <input class="js-new-email pa2 input-reset ba bg-transparent w-100"
                               ng-model="newEmail"
                               type="email" name="email-address" placeholder="person@example.com">
                    </div>
                    <div class="mt3">
                        <label class="db fw6 lh-copy f6" for="email-address">New Username</label>
                        <input class="js-new-username pa2 input-reset ba bg-transparent w-100"
                               ng-model="newUsername"
                               type="text" name="new-username" placeholder="New username">
                    </div>
                    <div class="mv3">
                        <label class="db fw6 lh-copy f6" for="password">New Password</label>
                        <input class="js-new-password b pa2 input-reset ba bg-transparent w-100"
                               ng-model="newPassword"
                               type="password" name="password">
                    </div>
                </fieldset>
                <div>
                    <button class="b ph3 pv2 input-reset
        				b--black-80 black-80 bg-white bw1 ba
				        pointer dib"
                        ng-click="upgradeAnon(event)">
                            Save as real account
                        </button>
                </div>
            </form>
        </div>
    </div>

    <script src="res/angular.js"></script>
    <script src="res/jquery-2.2.4.min.js"></script>
    <script src="res/paprikaApp.js"></script>
    <script>
    </script>
</body>
</html>